:root {
  --color-pink: #e3a5c3;
}
:root {
  --color-grapefruit: #ee3660;
}
:root {
  --color-green: #bad878;
}
:root {
  --color-powder: #ede0da;
}
:root {
  --color-black: #43221e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-black);
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.main-button {
  display: block;
  width: 180px;
  text-align: center;
  margin: 0 auto;
  background-color: var(--color-grapefruit);
  padding: 8px;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.main-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(245, 223, 223, 0.339),
    transparent
  );
  transition: all 0.4s ease;
}

.main-button:hover {
  box-shadow: 1px 1px 25px 10px rgba(237, 54, 96, 0.5);
  color: #fff;
}

.main-button:hover:before {
  left: 100%;
}

.burger-btn {
  background: none;
  border: none;
  padding: 0;
  display: none;
}

.basket-img {
  width: 30px;
  height: 30px;
}

.arrow-prev,
.arrow-next {
  width: 19px;
  height: 37px;
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}

.arrow-prev {
  left: 0px;
}

.arrow-next {
  right: 0px;
}

.arrow-prev img,
.arrow-next img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.letter-b {
  width: 100px;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.pointer {
  cursor: pointer;
}

.list-style-dec {
  list-style: decimal;
}

/* header */

.header {
  position: relative;
}

.header-top {
  background-color: var(--color-pink);
  padding: 10px 0;
}

.header-content {
  margin: 40px 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 238px;
  height: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.header-item-shop:hover .header__shop {
  opacity: 1;
}

.header__shop {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 10px;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease;
}

.header__shop__list {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.header__shop__item {
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.header__shop__item:hover .header__shop__img {
  border: 3px solid var(--color-grapefruit);
}

.header__shop__item:hover .header__shop__text {
  color: var(--color-grapefruit);
}

.header__shop__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid transparent;
}

.header__shop__item {
  margin-bottom: 10px;
}

/* menu */

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  width: 330px;
  display: flex;
  justify-content: space-between;
}

.menu-link {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.menu-info {
  width: 230px;
  display: flex;
  justify-content: space-between;
  margin-right: 55px;
}

.menu-info-item {
  font-size: 18px;
}

.menu-link:hover,
.menu-info-item:hover {
  color: var(--color-pink);
}

/* header media screens */

@media (max-width: 1024px) {
  .burger-btn {
    display: block;
  }

  .menu {
    position: absolute;
    top: 142px;
    left: 0;
    right: 0;
    width: 50%;
    height: 576px;
    background-color: var(--color-green);
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-top: 15px;
    padding-left: 15px;
    z-index: 98;
    display: none;
  }

  .menu-list,
  .menu-info {
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-right: 0;
  }

  .menu-info-item {
    margin: 5px 0;
  }

  .menu-link:hover,
  .menu-info-item:hover {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .menu {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .header-top {
    font-size: 16px;
    padding: 5px 0;
  }

  .header-content {
    margin: 20px 0;
  }

  .header-logo {
    width: 160px;
  }

  .menu {
    top: 102px;
  }
}

/* intro */

.intro {
  height: 100vh;
  display: flex;
  margin-bottom: 100px;
  position: relative;
}

.intro-bg {
  width: 50%;
  height: 100%;
}

.intro-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-content {
  width: 50%;
  position: relative;
  background-color: #deb0ca;
  color: #fff;
}

.intro-wrapper {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.intro-title {
  font-size: 42px;
  line-height: 56px;
  font-weight: 500;
  margin-bottom: 30px;
}

.intro-title span {
  font-weight: 700;
}

.intro-spot--pink,
.intro-spot--green {
  position: absolute;
  object-fit: cover;
}

.intro-spot--pink {
  width: 132px;
  height: 148px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.intro-spot--green {
  width: 142px;
  height: 132px;
  bottom: 20px;
  right: 20px;
}

/* intro media screens */

@media (max-width: 1024px) {
  .intro {
    height: 576px;
  }

  .intro-spot--pink {
    top: 10%;
  }

  .intro-spot--pink,
  .intro-spot--green {
    width: 90px;
    height: 100px;
  }

  .letter-b {
    width: 80px;
  }

  .intro-wrapper {
    width: 330px;
  }

  .intro-title {
    font-size: 32px;
    line-height: 43px;
  }
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .intro-bg {
    width: 100%;
  }

  .intro-content {
    position: static;
    width: 100%;
  }

  .intro-wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: none;
  }

  .intro-title {
    width: 300px;
    margin: 0 auto 20px;
    font-size: 28px;
    line-height: 38px;
  }

  .intro-spot--pink,
  .intro-spot--green {
    display: none;
  }

  .intro .letter-b {
    margin-top: 100px;
  }
}

/* most-loved */

.most-loved {
  margin-bottom: 130px;
}

.most-loved-title {
  font-size: 42px;
  line-height: 54px;
  text-align: center;
  margin-bottom: 15px;
}

.most-loved-link {
  font-size: 22px;
  line-height: 34px;
  border-bottom: 1px solid var(--color-black);
}

.most-loved-items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.most-loved-item {
  width: 100%;
  font-size: 22px;
  line-height: 30px;
}

.most-loved-item:hover .most-loved-img-hover {
  opacity: 1;
  transform: scale(1.06);
}

.most-loved-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.most-loved-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.most-loved-img-hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/* most-loved media screens */

@media (max-width: 1024px) {
  .most-loved-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .most-loved {
    margin-bottom: 90px;
  }

  .most-loved-title {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 5px;
  }
}

@media (max-width: 576px) {
  .most-loved {
    margin-bottom: 60px;
  }

  .most-loved-items {
    margin-top: 20px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }

  .most-loved-item {
    font-size: 18px;
    line-height: 24px;
  }
}

/* discover */

.discover {
  width: 100%;
  height: 620px;
  position: relative;
}

.discover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discover-filter {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.discover-content {
  width: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  z-index: 9;
}

.discover-content p {
  font-size: 46px;
  line-height: 56px;
  font-weight: 500;
  margin-bottom: 20px;
}

/* discover media screens */

@media (max-width: 1200px) {
  .discover {
    height: 500px;
  }
}

@media (max-width: 940px) {
  .discover-content {
    width: 450px;
  }

  .discover-content p {
    font-size: 36px;
    line-height: 48px;
  }
}

@media (max-width: 768px) {
  .discover {
    height: 375px;
  }
}

@media (max-width: 576px) {
  .discover {
    height: 300px;
  }

  .discover-content {
    width: 300px;
  }

  .discover-content p {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 10px;
  }
}

/* subscribe */

.subscribe {
  background-color: var(--color-green);
  position: relative;
  margin-bottom: 100px;
  padding: 100px 0 130px;
}

.subscribe-content {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.subscribe-title {
  font-size: 42px;
  line-height: 54px;
  font-weight: 500;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.subscribe-input {
  width: 380px;
  background-color: transparent;
  color: var(--color-black);
  border: 1.5px solid var(--color-grapefruit);
  padding: 8px 20px;
  margin-right: 25px;
  border-radius: 10px;
  font-size: 22px;
}

.subscribe-input::placeholder {
  color: var(--color-grapefruit);
  font-size: 22px;
}

.subscribe-input:focus {
  outline: var(--color-grapefruit);
  box-shadow: rgba(237, 54, 96, 0.3) 0px 6px 15px 0px,
    rgba(237, 54, 96, 0.3) 0px 0px 0px 1px;
}

.subscribe-text {
  color: #fff;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}

.subscribe-spot--pink,
.subscribe-spot--purple {
  position: absolute;
  height: auto;
  object-fit: cover;
}

.subscribe-spot--pink {
  width: 90px;
  top: 70px;
  left: 180px;
}

.subscribe-spot--purple {
  width: 120px;
  bottom: 50px;
  right: 100px;
}

/* subscribe media screens */

@media (max-width: 1024px) {
  .subscribe-title {
    font-size: 38px;
    line-height: 46px;
  }

  .subscribe-spot--pink {
    width: 70px;
    left: 20px;
  }

  .subscribe-spot--purple {
    width: 90px;
    bottom: 30px;
    right: 20px;
  }
}

@media (max-width: 690px) {
  .subscribe {
    margin-bottom: 60px;
  }

  .subscribe-content {
    width: 100%;
  }

  .subscribe-form {
    flex-direction: column;
  }

  .subscribe-input {
    max-width: 380px;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .subscribe-spot--pink {
    top: 20px;
  }

  .subscribe-spot--purple {
    bottom: 20px;
  }
}

@media (max-width: 576px) {
  .subscribe-title {
    font-size: 22px;
    line-height: 34px;
  }

  .subscribe-text {
    font-size: 18px;
    line-height: 22px;
  }
}

/* reviews */

.reviews {
  margin-bottom: 130px;
}

.reviews-title {
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin-bottom: 80px;
}

.reviews-slider {
  position: relative;
  padding: 0 50px 0 60px;
}

.reviews-track {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.reviews-item {
  width: 522px;
  margin-right: 50px;
  display: flex;
}

.reviews-photo {
  width: 182px;
  height: 210px;
  -webkit-mask-image: url(/images/icons/symbol-pink.svg);
  mask-image: url(/images/icons/symbol-pink.svg);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  margin-right: 20px;
}

.reviews-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-content {
  margin-top: 15px;
}

.reviews-rating {
  display: flex;
  margin-bottom: 15px;
}

.reviews-rating img {
  width: 28px;
  height: 28px;
  object-fit: cover;
  margin-right: 5px;
}

.reviews-text {
  width: 320px;
  font-style: italic;
  margin-bottom: 10px;
}

/* reviews media screens */

@media (max-width: 1250px) {
  .reviews-item {
    width: 50%;
    margin-right: 0;
  }

  .reviews-photo {
    width: 152px;
    height: 180px;
  }

  .reviews-rating {
    margin-bottom: 5px;
  }

  .reviews-rating img {
    width: 24px;
    height: 24px;
    margin-right: 3px;
  }

  .reviews-text {
    max-width: 320px;
    width: 100%;
    padding-right: 10px;
  }
}

@media (max-width: 1024px) {
  .reviews {
    margin-bottom: 90px;
  }

  .reviews-title {
    margin-bottom: 50px;
  }

  .reviews-item {
    min-width: 100%;
    margin: 0 auto;
    justify-content: center;
  }

  .reviews-content {
    margin-top: 20px;
  }

  .reviews-text {
    max-width: 430px;
    width: 100%;
    padding-right: 0;
  }

  .arrow-prev {
    left: 20px;
  }

  .arrow-next {
    right: 20px;
  }
}

@media (max-width: 690px) {
  .reviews {
    margin-bottom: 60px;
  }

  .reviews-slider {
    padding: 0 20px;
  }

  .reviews-title {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 30px;
  }

  .reviews-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .reviews-rating {
    justify-content: center;
  }

  .reviews-text {
    max-width: 100%;
  }

  .arrow-prev {
    left: 0px;
  }

  .arrow-next {
    right: 0px;
  }
}

/* footer */

.footer {
  background-color: var(--color-pink);
  padding: 20px 0;
  flex: 0 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 36px;
  height: auto;
  object-fit: cover;
}

.footer-info {
  width: 230px;
  text-align: center;
}

.footer-info-link {
  display: block;
  color: #fff;
  font-weight: 600;
}

.footer-social {
  display: flex;
}

.footer-social-item {
  margin: 0 8px;
}

.footer-social-item:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 25px 5px rgba(255, 255, 255, 0.4);
}

.footer-social-link {
  width: 25px;
  height: 25px;
}

.footer-social-link img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.footer-terms {
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
  opacity: 0.75;
}

.footer-terms:hover {
  opacity: 1;
}

/* footer media screens */

@media (max-width: 940px) {
  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-logo {
    display: none;
  }

  .footer-info {
    width: 50%;
    margin-bottom: 25px;
  }

  .footer-terms {
    width: 50%;
  }

  .footer-social {
    width: 50%;
    justify-content: center;
  }
}

@media (max-width: 490px) {
  .footer-logo {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .footer-info {
    width: 100%;
  }

  .footer-terms {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-social {
    width: 100%;
  }
}
